.admin-container {
    display: grid;
    margin: 2vh;
}
.admin-item {
    margin: 10px;
    background-color: #D90429;
    color: #fff;
    padding: 0.4em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.2rem #000000);
    transition: 250ms;
    text-decoration: underline;
    text-decoration-color: #fff;
}
.admin-item:hover {
    filter: drop-shadow(0 0 0.0);
    box-shadow: inset 0 0 0.75rem #000000;
}
.admin-center {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: auto;
    width: 100%;
}
.admin-settings-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDF2F4;
    width: 100vh;
    max-width: 88vw;
    filter: drop-shadow(0 0 0.75rem #555555);
    border-bottom-right-radius: 10vh;
    border-bottom-left-radius: 10vh;
    font-size: 1.5em;
    margin-bottom: 1vh;
}
.admin-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDF2F4;
    width: 100vh;
    max-width: 88vw;
    filter: drop-shadow(0 0 0.75rem #555555);
    border-radius: 10vh;
    padding: 2vh;
    font-size: 1.5em;
    margin-top: 4vh;
    margin-bottom: 1vh;
}
.admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2em;
}
.admin-input {
    width: 80%;
    height: 1.5em;
    font-size: 1.5em;
    padding: 0.1em;
    border-radius: 0.5em;
    text-align: center;
    background-color: #ffffff;
    transition: 200ms;
    margin-top: 0.5vh;
}
.admin-input:active {
    background-color: #cccccc;
}
.admin-autofill-correct {
    background-color: #adff2f;
    animation: correct 2s forwards;
}
@keyframes correct {
    0% {
        background-color: #ffffff;
    }
    10% {
        background-color: #adff2f;
    }
    100% {
        background-color: #ffffff;
    }
}
.admin-autofill-wrong {
    background-color: #ff2f2f;
    animation: wrong 2s forwards;
}
@keyframes wrong {
    0% {
        background-color: #ffffff;
    }
    10% {
        background-color: #ff2f2f;
    }
    100% {
        background-color: #ffffff;
    }
}

.admin-icon {
    width: 5vh;
}

.admin-cover {
    min-width: 5vw;
    border-radius: 1vh;
    background-color: #faebd7;
}

/*just for the cards*/

.admin-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.admin-card {
    border: 1px solid #ccc;
    border-radius: 2vh;
    padding: 20px;
    flex: 1;
    margin: 1vh;
}

.admin-card img {
    max-width: 100%;
}

.admin-card-details {
    margin-top: 10px;
    text-align: center;
    margin: 1vh;
}

.admin-card-id {
    display: none;
}

.admin-card-title {
    font-size: 18px;
    margin: 0;
}

.admin-card-cover {
    width: 100%;
    max-height: 40vh;
}
.admin-card-icons {
    width: 100%;
    max-height: 20vh;
}

.admin-card-author,
.admin-card-isbn,
.admin-card-oclc {
    font-size: 14px;
    margin: 5px 0 0;
}
.admin-left-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 2vh;
    padding: 20px;
    flex: 1;
    margin: 1vh;
    width: 100vh;
    max-width: 80%;
}
.page-name {
    font-size: 3em;
    margin: 0.1em;
    margin: auto;
}

.admin-page-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.admin-page-switcher a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #edf2f4;
    color: #2b2d42;
    border: 1px solid #8d99ae;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.admin-page-switcher a:hover {
    background-color: #8d99ae;
    color: #edf2f4;
    border-color: #8d99ae;
}

.admin-page-switcher a.active {
    background-color: #ef233c;
    color: #edf2f4;
    border-color: #ef233c;
}

.admin-page-switcher .admin-dots {
    display: inline-block;
    padding: 5px 10px;
    background-color: transparent;
    color: #2b2d42;
    border: none;
    font-size: 14px;
    font-weight: 600;
    pointer-events: none;
}

.admin-page-switcher .admin-arrow {
    display: inline-block;
    padding: 5px;
    background-color: #edf2f4;
    color: #2b2d42;
    border: 1px solid #8d99ae;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.admin-page-switcher .admin-arrow:hover {
    background-color: #8d99ae;
    color: #edf2f4;
    border-color: #8d99ae;
}

.admin-page-switcher .admin-arrow.disabled {
    background-color: #ef233c;
    color: #edf2f4;
    border-color: #ef233c;
    pointer-events: none;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 5%;
    margin-top: 7.5%;
}
th,
td {
    padding: 0.25em;
    text-align: left;
    border-bottom: 2px solid #8d99ae;
}
th {
    background-color: #ef233c;
    color: #ffffff;
}
tbody tr:nth-child(even) {
    background-color: #e6eaeb;
}
tr:hover {
    background-color: #b3c2dc;
}
tr:nth-child(even):hover {
    background-color: #a2afc5;
}
  

@keyframes modal {
    0% {margin: -10vh auto; opacity: 0;}
    100% {margin: 1vh auto;}
}

@media (prefers-reduced-motion) {
    .admin-autofill-correct {
        background-color: #adff2f;
        animation: correct 20s forwards;
    }
}

@media  all and (min-width: 60vh) {
    .admin-container {
        display: grid;
        grid-template-columns: auto auto;
    }
    .admin-item {
        width: 42vw;
    }
    .admin-form {
        font-size: 1em;
    }
    .admin-input {
        height: 1.5em;
        font-size: 1em;
    }
    .admin-card-id {
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        display: inline;
    }
    .admin-card {
        display: flex;
        flex-direction: row;
    }
    .admin-card-details {
        text-align: left;
        width: 60%;
    }
    .admin-card-cover {
        width: 20%;
    }
    .admin-card-icons {
        width: 20%;
    }
}
@media  all and (min-width: 120vh) {
    .admin-container {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .admin-item {
        width: 18vw;
    }
}