.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4em;
    font-weight: bold;
    color: #a90000;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#qr-reader {
    width: 90%;
    max-height: 90vh;
}
.html5-qrcode-element {
    font-size: 2em;
}
  