/*generic*/
body {
    background-color: #EDF2F4;
    margin: 0;
    font-family: 'Atkinson Hyperlegible';
    padding-bottom: 10vh;
}
a {
    text-decoration: none;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    background-color: #D90429;
    margin: 0;
    height: 8vh;
}
.name {
    font-size: 8vh;
    font-weight: bold;
    color: #EDF2F4;
}
.options {
    display: flex;
    justify-content: flex-end;
}
.options a {
    margin-left: 10px;
}
.aicon {
    fill: #EDF2F4;
    transition: 100ms;
}
.aicon:hover {
    fill: #8D99AE;
    transition: 200ms;
}
.hamburger-icon {
    cursor: pointer;
}

.menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40vh;
    max-width: 80vw;
    min-height: 40vh;
    top: 11.9vh;
    right: 0;
    z-index: 1;
    background-color: #D90429;
    padding: 10px;
    margin: 0;
    padding-bottom: 3vh;
    border-bottom-left-radius: 20px;
    animation: open 500ms forwards;
    box-shadow: 6px 6px 8px #555;
}
@keyframes open {
    0% {
        padding: 1px;
        padding-bottom: 0vh;
        opacity: 0%;
    }
    100% {
        padding: 10px;
        padding-bottom: 3vh;
        opacity: 100%;
    }
}

.menu li {
    margin-bottom: 10px;
    list-style: none;
    
}

.menu a {
    color: #EDF2F4;
    font-size: 6vh;
    text-decoration: none;
    transition: 200ms;
}

.menu a:hover {
    color: #8D99AE;
    transition: 200ms;
}


/*main page*/
#hero {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#hero-search {
    width: 80%;
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

#hero-searchbar {
    width: 70%; 
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-right: 1rem;
}

#hero-searchexecute {
    background-color: #EF233C;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}
#hero-searchexecute:hover {
    background-color: #D90429;
    transition: 250ms;
}

#search {
    display: flex;
    width: 99%;
    max-width: 123vh;
    justify-content: center;
    align-items: flex-end;
}
#searchbar {
    width: 70%; 
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    margin-right: 1rem;
}

#searchexecute {
    background-color: #EF233C;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}

#searchexecute:hover {
    background-color: #D90429;
    transition: 250ms;
}

.top {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cont {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.section {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

.bookshelf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    max-width: 110vh;
    gap: 2%;
}
.book-item {
    margin: 0;
    background-color: #fff;
    padding: 1%;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
}
.book-item-title {
    font-size: 2.2rem;
    font-weight: 600;
}
.book-item-author {
    font-size: 2rem;
    color: #555;
}
.book-item-isbn {
    font-size: 1.4rem;
    color: #333;
}
.book-item-stock {
    font-size: 2rem;
}
.book-item-loanstart {
    font-size: 1.4rem;
    color: #333;
}
.book-item-loanend {
    font-size: 2rem;
    color: #fff;
    background-color: #b12;
    border-radius: 20px;
}
.book-item-loanstart-label {
    font-size: 12rem;
    color: #555;
}
.book-item-loanend-label {
    font-size: 12rem;
    color: #444;
}
.bookimg {
    height: 15vh;
    max-width: 100%;
}
/*login*/
.login {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}
.loginform {
    display: flex;
    flex-direction: column;
}
.txtinput {
background-color: #f2f2f2;
border: none;
border-radius: 5px;
color: #333;
font-size: 16px;
margin-bottom: 20px;
padding: 10px;
}

.btn {
background-color: #333;
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
font-size: 16px;
padding: 10px;
}

.btn:hover {
background-color: #555;
}
@media  all and (min-width: 60vh) {
    .bookshelf {
        grid-template-columns: repeat(3, 1fr);
    }
    .bookshelf {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
        max-width: 110vh;
        gap: 2%;
    }
    .book-item {
        margin: 0;
        background-color: #fff;
        padding: 1%;
        text-align: center;
        border-radius: 20px;
        box-sizing: border-box;
    }
    .book-item-title {
        font-size: 1.1rem;
        font-weight: 600;
    }
    .book-item-author {
        font-size: 1rem;
        color: #555;
    }
    .book-item-isbn {
        font-size: 0.7rem;
        color: #333;
    }
    .book-item-stock {
        font-size: 1rem;
    }
    .book-item-loanstart {
        font-size: 0.7rem;
        color: #333;
    }
    .book-item-loanend {
        font-size: 1rem;
        color: #fff;
        background-color: #b12;
        border-radius: 20px;
    }
    .book-item-loanstart-label {
        font-size: 0.6rem;
        color: #555;
    }
    .book-item-loanend-label {
        font-size: 0.6rem;
        color: #444;
    }
}
@media  all and (min-width: 120vh) {
    .bookshelf {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media  all and (min-width: 240vh) {
    .bookshelf {
        max-width: 150vh;
        grid-template-columns: repeat(6, 1fr);
    }
}