body {
    background-color: #EDF2F4;
    margin: 0;
    font-family: 'Atkinson Hyperlegible';
}
/*generic*/

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #D90429;
    margin: 0;
}
.name {
    font-size: 8vh;
    font-weight: bold;
    color: #EDF2F4;
}
.options {
    display: flex;
    justify-content: flex-end;
}
.options a {
    margin-left: 10px;
}
.aicon {
    fill: #EDF2F4;
    transition: 100ms;
}
.aicon:hover {
    fill: #8D99AE;
    transition: 200ms;
}

/*main page*/
#hero {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#hero-search {
    width: 80%;
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

#hero-searchbar {
    width: 70%; 
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-right: 1rem;
}

#hero-searchexecute {
    background-color: #EF233C;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}
#hero-searchexecute:hover {
    background-color: #D90429;
    transition: 250ms;
}

#search {
    display: flex;
    width: 99%;
    max-width: 123vh;
    justify-content: center;
    align-items: flex-end;
}
#searchbar {
    width: 70%; 
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    margin-right: 1rem;
}

#searchexecute {
    background-color: #EF233C;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}

#searchexecute:hover {
    background-color: #D90429;
    transition: 250ms;
}

.top {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cont {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    padding-top: 1em;
}


.section {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

.bookshelf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    max-width: 110vh;
    gap: 2%;
}
.book-item {
    margin: 0;
    background-color: #fff;
    padding: 1%;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
}
.book-item-title {
    font-size: 0.8em;
    min-height: 2em;
}
.bookimg {
    height: 15vh;
    max-width: 100%;
}
/*login*/
.login {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}
.loginform {
    display: flex;
    flex-direction: column;
}
.txtinput {
background-color: #f2f2f2;
border: none;
border-radius: 5px;
color: #333;
font-size: 16px;
margin-bottom: 20px;
padding: 10px;
}

.btn {
background-color: #333;
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
font-size: 16px;
padding: 10px;
}

.btn:hover {
background-color: #555;
}
@media  all and (min-width: 60vh) {
    .bookshelf {
        grid-template-columns: repeat(3, 1fr);
    }
    .book-item-title {
        font-size: 0.5em;
    }
}
@media  all and (min-width: 120vh) {
    .bookshelf {
        grid-template-columns: repeat(4, 1fr);
    }
}